<!--
  Copyright 2019 Amazon.com, Inc. or its affiliates. All Rights Reserved.
  
  Licensed under the Apache License, Version 2.0 (the "License").
  You may not use this file except in compliance with the License.
  A copy of the License is located at
  
      http://www.apache.org/licenses/LICENSE-2.0
  
  or in the "license" file accompanying this file. This file is distributed 
  on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either 
  express or implied. See the License for the specific language governing 
  permissions and limitations under the License.
-->

{{#if loading}}
<div class="text-center"><img src="img/loading.gif" class="img-fluid" /></div>
{{else}}
<br />
<div class="container-fluid">
	<div class="row">
		<div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
			<div class="video-container">
				<video name="video" id="video" {{!-- poster="img/video_splash.png" --}}
					style="max-width:100%; height:auto">
					<source src="{{{video.s3VideoSignedUrl}}}" type="video/mp4">
					Your browser does not support playing this type of video.
				</video>
				<div class="video-overlay" id="captionOverlay" style="display:none;"></div>
				<div class="timer-overlay" id="timerOverlay" style="display:none;">0.0s</div>
				<div class="speed-overlay" id="speedOverlay" style="display:none;">1.0x</div>
			</div>

			<div style="display:none;" id="videoControls">
				<div class="slide-container">
					<input type="range" min="0" max="0" value="0" class="slider" id="videoProgress" />
				</div>

				<div class="text-center">
					<button type="button" class="btn btn-secondary media-button" onclick="stepBackward(true, true)">
						<i class="fa fa-step-backward fa-sm"></i>
					</button>
					<button type="button" class="btn btn-secondary media-button" onclick="playPause()">
						<i id="playPauseIcon" class="fa fa-play fa-sm"></i>
					</button>
					<button type="button" class="btn btn-secondary media-button" onclick="stepForward(true, true)">
						<i class="fa fa-step-forward fa-sm"></i>
					</button>
					<button type="button" class="btn btn-secondary 
							media-button selected" onclick="repeatButton()" title="Pause after each caption">
						<i id="repeatIcon" class="fa fa-redo fa-sm"></i>
					</button>
					<button type="button" class="btn btn-secondary 
							media-button" onclick="speedUp()" title="Speed up video">
						<i id="repeatIcon" class="fa fa-plus fa-sm"></i>
					</button>
					<button type="button" class="btn btn-secondary 
							media-button" onclick="slowDown()" title="Slow down">
						<i id="repeatIcon" class="fa fa-minus fa-sm"></i>
					</button>
				</div>
			</div>
		</div>
		<div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
			<div style="display:none;" id="editorControls">
				<div class="text-center control-container">
					<button type="button" class="btn btn-secondary 
							control-button" onclick="saveCaptions()" title="Save captions" id="saveButton">
						<i class="fa fa-save fa-sm"></i> Save
					</button>
					<button type="button" class="btn btn-secondary 
							control-button" onclick="mergeCaptions()" title="Merge captions" id="mergeButton">
						<i class="fa fa-save fa-sm"></i> Merge
					</button>
					<button type="button" class="btn btn-secondary 
							control-button" onclick="splitCaptions()" title="Split captions" id="splitButton">
						<i class="fa fa-save fa-sm"></i> Split
					</button>
					<span class="dropdown show">
						<a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
							data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<i class="fa fa-cloud-download-alt fa-sm"></i> Download
						</a>

						<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
							<a class="dropdown-item" onclick="downloadCaptionsVTTLocal()">WEBVTT</a>
							<a class="dropdown-item" onclick="downloadCaptionsSRTLocal()">SRT</a>
							<a class="dropdown-item" onclick="downloadCaptionsTEXTLocal()">TEXT</a>
							{{#if video.translated}}
							{{#if video.s3BurnedTranslatedVideoPath}}
							<a class="dropdown-item" onclick="downloadBurnedVideoLocal()">BurnedVideo</a>
							{{/if}}
							{{else}}
							{{#if video.s3BurnedVideoPath}}
							<a class="dropdown-item" onclick="downloadBurnedVideoLocal()">BurnedVideo</a>
							{{/if}}
							{{/if}}
						</div>
					</span>
					{{#if video.enableTranslate}}
					{{#if video.translated}}
					{{else}}
					<span class="dropdown show">
						<a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
							data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<i class="fa fa-cloud-download-alt fa-sm"></i> Translate to
						</a>

						<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
							<a class="dropdown-item" onclick="translateWithLanguageCode('zh')">Chinese (Simplified)</a>
							<a class="dropdown-item" onclick="translateWithLanguageCode('zh-TW')">Chinese
								(Traditional)</a>
							<a class="dropdown-item" onclick="translateWithLanguageCode('en')">English</a>
							<a class="dropdown-item" onclick="translateWithLanguageCode('de')">German</a>
							<a class="dropdown-item" onclick="translateWithLanguageCode('fr')">French</a>
							<a class="dropdown-item" onclick="translateWithLanguageCode('it')">Italian</a>
							<a class="dropdown-item" onclick="translateWithLanguageCode('ja')">Japanese</a>
							<a class="dropdown-item" onclick="translateWithLanguageCode('ko')">Korean</a>
							<a class="dropdown-item" onclick="translateWithLanguageCode('ar')">Arabic</a>
							<a class="dropdown-item" onclick="translateWithLanguageCode('pt')">Portuguese</a>
						</div>
					</span>
					{{/if}}
					{{/if}}
					<button type="button" class="btn btn-secondary 
							control-button" onclick="burnCaptionsLocal()" title="Save captions" id="burnCaptionsButton">
						<i class="fa fa-closed-captioning fa-sm"></i> Burn In
					</button>
					<span id="statusButton"></span>
				</div>
				<form class="form">
					<div class="form-group">
						<table class="table">
							<thead>
								<tr>
									{{!-- <th style="width: 5.00%">#</th> --}}
									<th style="width: 5.00%">Index</th>
									<th style="width: 15.00%">Time</th>
									<th style="width: 75.00%">Caption</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									{{!-- <td>
										<input type="checkbox" name="caption" id="prevCaptionCheckbox" />
									</td> --}}
									<td>
										<span id="prevCaptionIndex"></span>
									</td>
									<td>
										<span id="prevTime"></span>
									</td>
									<td>
										<span id="prevCaption"></span>
									</td>
								</tr>
								<tr>
									{{!-- <td>
										<input type="checkbox" name="caption" id="currentCaptionCheckbox" />
									</td> --}}
									<td>
										<span id="captionIndex"></span>
									</td>
									<td>
										<span id="currentTime"></span>
									</td>
									<td>
										{{!-- <span id="currentCaption"></span> --}}
										<input type="text" id="currentCaption" name="CaptionText"
											style="width:800px; height:80px;" />
									</td>
								</tr>
								<tr>
									{{!-- <td>
										<input type="checkbox" name="caption" id="nextCaptionCheckbox" />
									</td> --}}
									<td>
										<span id="nextCaptionIndex"></span>
									</td>
									<td>
										<span id="nextTime"></span>
									</td>
									<td>
										<span id="nextCaption"></span>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<div class="p-3">
	<dl>
		<dt><i class="fas fa-marker" onclick="javascript:$('#renameVideoModal').modal();" title="Edit video name"></i>
			Video name</dt>
		<dd>
			<div id="videoName">
				{{video.name}}
			</div>
		</dd>
		<dt><i class="fas fa-marker" onclick="javascript:$('#descriptionVideoModal').modal();"
				title="Edit video name"></i> Video description</dt>
		<dd>
			<div id="videoDescription">
				{{video.description}}
			</div>
		</dd>
	</dl>
</div>

<div class="modal fade" id="renameVideoModal" role="dialog">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Edit a new video name</h4>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>
			<div class="modal-body">
				<div class="form-group">
					<input type="text" class="form-control" id="videoNameEdit" value="{{video.name}}" />
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" data-dismiss="modal" id="videoNameSave">Save</button>
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="descriptionVideoModal" role="dialog">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Enter a description for this video</h4>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>
			<div class="modal-body">
				<div class="form-group">
					<textarea class="form-control" rows="4" id="videoDescriptionEdit">{{video.description}}</textarea>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" data-dismiss="modal"
					id="videoDescriptionSave">Save</button>
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
			</div>
		</div>
	</div>
</div>

<script>

	var captionData = {{{ video.captions }}};

	var videoId = '{{video.videoId}}';
	var videoName = '{{video.name}}';
	var videoDescription = '{{video.description}}';
	var videoStatus = '{{video.status}}';
	var translated = '{{video.translated}}';
	var language = '{{video.language}}';
	if (translated == 'true') {
		language = '{{video.translatedLanguage}}';
	}
	console.log("translated is " + translated);

	var video = document.getElementById("video");
	var videoProgress = document.getElementById("videoProgress");
	var currentTimeEdit = document.getElementById("currentTime");
	var captionEdit = document.getElementById("currentCaption");
	var captionOverlay = document.getElementById("captionOverlay");
	var timerOverlay = document.getElementById("timerOverlay");
	var speedOverlay = document.getElementById("speedOverlay");
	var saveButton = document.getElementById("saveButton");
	var startTimeEdit = document.getElementById("startTime");
	var endTimeEdit = document.getElementById("endTime");

	var duration = 0;
	var progressMax = 10000;
	var captionIndex = -1;
	var pausePerCaption = true;
	var playSpeed = 1.0;
	var dirty = false;
	var confidence = 0.75;

	toastr.success('Loading video and captions...');

	renderStatusButton(videoId, videoStatus);
	renderBurnCaptionsButton(videoStatus);

	videoProgress.oninput = function () {
		var time = videoProgress.value / progressMax * duration;

		while (time >= secondNumber(captionData[captionIndex].endTime)) {
			if (captionIndex == captionData.length - 1) {
				break;
			}
			stepForward(false, false);
		}

		while (time < secondNumber(captionData[captionIndex].startTime)) {
			if (captionIndex == 0) {
				break;
			}
			stepBackward(false, false);
		}

		video.currentTime = time;
	}

	function renderCaption() {

		final = "";
		if (captionData[captionIndex].text != "") {
			final = captionData[captionIndex].text
		}

		captionOverlay.innerHTML = final;
	}

	function saveCaptions() {
		var captionEditValue = escapeHtml(captionEdit.value);
		console.log("captionEdit value: ", captionEditValue);
		captionData[captionIndex].text = captionEditValue;
		updateCaptionEditor();
		renderCaption();
		updateCaptions(videoId, captionIndex, captionEditValue, 0, language, "SAVE-CAPTION", translated);

		markDirty(false);
	}

	function mergeCaptions() {
		if (captionIndex >= captionData.length - 1) {
			console.log("captionIndex is the last caption, cannot merge");
			return;
		}

		part1Index = captionIndex;
		part2Index = captionIndex + 1;
		var captionEditValue = escapeHtml(captionEdit.value);
		captionData[part1Index].text = captionEditValue;
		if (language != 'zh-CN') {
			captionData[part1Index].text += " ";
		}
		captionData[part1Index].text += captionData[part2Index].text;
		captionData[part1Index].endTime = captionData[part2Index].endTime;

		for (var i = part2Index; i < captionData.length - 1; i++) {
			captionData[i] = cloneCaptionDataElement(captionData[i + 1]);
			captionData[i].id = Number(captionData[i].id) - 1 + '';
		}

		captionData.pop();

		console.dir(captionData);

		updateCaptionEditor();
		renderCaption();
		updateCaptions(videoId, captionIndex, captionData[captionIndex].text, 0, language, "MERGE", translated);
	}

	function splitCaptions() {
		var wordLength = captionEdit.selectionStart;
		if (wordLength == captionEdit.value.length) {
			console.log("please choose the right position to split captions");
			return;
		}
		var captionText = escapeHtml(captionEdit.value);

		var id = captionData[captionIndex].id;

		var captionText1 = captionText.substring(0, wordLength);
		var captionText2 = captionText.substring(wordLength, captionText.length);

		var splitTime = getSplitTime(captionText, captionData[captionIndex].startTime, captionData[captionIndex].endTime, wordLength);

		var endTime = captionData[captionIndex].endTime;

		captionData[captionIndex].text = captionText1;
		captionData[captionIndex].endTime = splitTime;

		if (captionIndex < captionData.length - 1) {
			captionData.push(cloneCaptionDataElement(captionData[captionData.length - 1]));
			captionData[captionData.length - 1].id = Number(captionData[captionData.length - 1].id) + 1 + '';
			for (var i = captionData.length - 2; i > captionIndex + 1; i--) {
				captionData[i] = cloneCaptionDataElement(captionData[i - 1]);
				captionData[i].id = Number(captionData[i - 1].id) + 1 + '';
			}
			captionData[captionIndex + 1].id = Number(id) + 1 + '';
			captionData[captionIndex + 1].text = captionText2;
			captionData[captionIndex + 1].startTime = splitTime;
			captionData[captionIndex + 1].endTime = endTime;
		} else {
			var captionElement = {};
			captionElement.id = Number(id) + 1 + '';
			captionElement.text = captionText2;
			captionElement.startTime = splitTime;
			captionElement.endTime = endTime;
			captionData.push(captionElement);
		}
		updateCaptionEditor();
		renderCaption();
		updateCaptions(videoId, captionIndex, captionText, wordLength, language, "SPLITE", translated);
	}

	function cloneCaptionDataElement(captionDataElement) {
		var newCaptionDataElement = {};
		newCaptionDataElement.id = captionDataElement.id;
		newCaptionDataElement.startTime = captionDataElement.startTime;
		newCaptionDataElement.endTime = captionDataElement.endTime;
		newCaptionDataElement.text = captionDataElement.text;
		return newCaptionDataElement;
	}

	function updateCaptionEditor() {
		if (captionData.hasOwnProperty(captionIndex - 1)) {
			$('#prevTime').html(captionData[captionIndex - 1].startTime + "<br />" + captionData[captionIndex - 1].endTime);
			$('#prevCaption').html(captionData[captionIndex - 1].text);
		} else {
			$('#prevTime').html("");
			$('#prevCaption').html("");
		}

		$('#currentTime').html(captionData[captionIndex].startTime + "<br />" + captionData[captionIndex].endTime);
		$('#currentCaption').val(captionData[captionIndex].text)

		if (captionData.hasOwnProperty(captionIndex + 1)) {
			$('#nextTime').html(captionData[captionIndex + 1].startTime + "<br />" + captionData[captionIndex + 1].endTime);
			$('#nextCaption').html(captionData[captionIndex + 1].text);
		} else {
			$('#nextTime').html("");
			$('#nextCaption').html("");
		}

		$('#prevCaptionCheckbox').val(captionIndex - 1);
		$('#currentCaptionCheckbox').val(captionIndex);
		$('#nextCaptionCheckbox').val(captionIndex + 1);

		$('#prevCaptionIndex').html(captionIndex);
		$('#captionIndex').html(captionIndex + 1);
		$('#nextCaptionIndex').html(captionIndex + 2);
	}

	video.addEventListener("ended", function () {
		video.pause();
		updatePlayPauseUI();
	});

	video.addEventListener("timeupdate", function () {
		videoProgress.value = video.currentTime / duration * videoProgress.max;
		timerOverlay.innerHTML = video.currentTime.toFixed(1) + 's';

		if (!video.paused) {
			if (pausePerCaption) {
				if (video.currentTime >= secondNumber(captionData[captionIndex].endTime)) {
					video.pause();
					video.currentTime = secondNumber(captionData[captionIndex].startTime);
					updatePlayPauseUI();
				}
			}
			else {
				if (video.currentTime >= secondNumber(captionData[captionIndex].endTime)) {
					stepForward(false, false);
				}
			}
		}
	});

	function secondNumber(time) {
		var a = time.split(':');

		// minutes are worth 60 seconds. Hours are worth 60 minutes.
		var seconds = (+a[0]) * 60 * 60 + (+a[1]) * 60 + (+a[2].split(',')[0]) + (+a[2].split(',')[1]) / 1000;
		return seconds;
	}

	function getSplitTime(captionText, startTime, endTime, wordLength) {
		// console.log(time.substring(0, 12));
		// console.log(time.substring(12, time.length));
		var startTimeMiSecond = secondNumber(startTime) * 1000;
		var endTimeMiSecond = secondNumber(endTime) * 1000;

		var miSecond = endTimeMiSecond - startTimeMiSecond;

		var miStartSecond = parseInt(wordLength / captionText.length * miSecond);

		var splitTime = formatTimeFromMiSecond(miStartSecond + startTimeMiSecond);

		return splitTime;
	}

	function formatTimeFromMiSecond(miSecondsTime) {
		const ONE_HOUR = 60 * 60 * 1000;
		const ONE_MINUTE = 60 * 1000;
		const ONE_SECOND = 1000;
		var hours = Math.floor(miSecondsTime / ONE_HOUR);
		var remainder = miSecondsTime - (hours * ONE_HOUR);
		var minutes = Math.floor(remainder / ONE_MINUTE);
		remainder = remainder - (minutes * ONE_MINUTE);
		var seconds = Math.floor(remainder / ONE_SECOND);
		remainder = remainder - (seconds * ONE_SECOND);
		var millis = remainder;

		return (hours + '').padStart(2, '0') + ':' +
			(minutes + '').padStart(2, '0') + ':' +
			(seconds + '').padStart(2, '0') + ',' +
			(Math.floor(millis) + '').padStart(3, '0');
	}

	function showControls() {
		$('#videoControls').show();
		$('#editorControls').show();
		$('#captionOverlay').show();
		$('#timerOverlay').show();
		$('#speedOverlay').show();
	}

	video.addEventListener('loadedmetadata', function () {
		duration = video.duration;
		videoProgress.max = progressMax;
		updatePlayPauseUI();
		showControls();

		if (captionData.length == 0) {
			captionData.push({
				start: 0.0,
				end: 5.0,
				caption: ''
			});
			toastr.error('Caption data is not available yet');
		}
		else {
			toastr.success('Video and caption data loaded');
		}

		stepForward(true, false);

		if (saveCaptionsTimer) {
			console.log('[INFO] Clearing existing save captions timer');
			clearInterval(saveCaptionsTimer);
		}

		/**
		 * Hook up auto saving every 20 seconds
		 */
		saveCaptionsTimer = setInterval(function () {

		}, 20000);

		console.log('[INFO] Created save captions timer: ' + saveCaptionsTimer);

	}, false);

	function updatePlayPauseUI() {
		if (video.paused) {
			$('#playPauseIcon').removeClass('fa-pause');
			$('#playPauseIcon').addClass('fa-play');
		}
		else {
			$('#playPauseIcon').removeClass('fa-play');
			$('#playPauseIcon').addClass('fa-pause');
		}

		if (pausePerCaption) {
			$('#repeatIcon').addClass('option-selected');
		}
		else {
			$('#repeatIcon').removeClass('option-selected');
		}
	}

	function playPause() {
		if (video.paused) {
			if (video.currentTime == video.duration) {
				captionIndex = 0;
				captionSelected(true);
				video.play();
			}
			else {
				video.play();
			}

		}
		else {
			video.pause();
		}

		updatePlayPauseUI();
	}

	function muteUnMute() {
		if (!video.muted) {
			video.muted = 'muted';
		}
		else {
			video.muted = false;
		}
	}

	function captionSelected(seek) {
		updateCaptionEditor();
		renderCaption();

		if (seek) {
			video.currentTime = secondNumber(captionData[captionIndex].startTime);
		}
	}

	function stepForward(seek, autoPlay) {
		// Insert a new caption if we aren't at the end of the video
		if ((video.currentTime < (video.duration - 5)) &&
			(captionIndex > captionData.length - 1)) {
			captionData.push({
				startTime: captionData[captionData.length - 1].endTime,
				endTime: Number(captionData[captionData.length - 1].endTime) + 5,
				caption: ''
			});

			captionIndex++;
		}

		if (captionIndex < captionData.length - 1) {
			captionIndex++;
		}

		captionSelected(seek);

		if (autoPlay && pausePerCaption && video.paused) {
			video.play();
			updatePlayPauseUI();
		}
	}

	function stepBackward(seek, autoPlay) {
		captionIndex--;

		if (captionIndex < 0) {
			captionIndex = 0;
		}

		captionSelected(seek);

		if (autoPlay && pausePerCaption && video.paused) {
			video.play();
			updatePlayPauseUI();
		}
	}

	function repeatButton() {
		pausePerCaption = !pausePerCaption;
		updatePlayPauseUI();
	}

	function speedUp() {
		playSpeed += 0.1;

		if (playSpeed > 2.0) {
			playSpeed = 2.0;
		}

		video.playbackRate = playSpeed;
		speedOverlay.innerHTML = playSpeed.toFixed(1) + 'x';
	}

	function slowDown() {
		playSpeed -= 0.1;

		if (playSpeed < 0.5) {
			playSpeed = 0.5;
		}

		video.playbackRate = playSpeed;
		speedOverlay.innerHTML = playSpeed.toFixed(1) + 'x';
	}

	function burnCaptionsLocal() {
		burnCaptions(videoId, language, translated);
	}

	function downloadCaptionsSRTLocal() {
		downloadCaptionsSRT(videoId, videoName, language, translated);
	}

	function downloadCaptionsVTTLocal() {
		downloadCaptionsVTT(videoId, videoName, language, translated);
	}

	function downloadCaptionsTEXTLocal() {
		downloadCaptionsTEXT(videoId, videoName, language, translated);
	}

	function downloadBurnedVideoLocal() {
		if (translated == 'true') {
			downloadBurnedVideo(videoId, videoName, language);
		} else {
			downloadBurnedVideo(videoId, videoName, '');
		}
	}

	function translateWithLanguageCode(translateLanguageCode) {
		translateCaptions(videoId, translateLanguageCode);
	}

	function markDirty(dirtyFlag) {
		dirty = dirtyFlag;

		if (dirty) {
			$('#saveButton').removeClass('btn-secondary');
			$('#saveButton').addClass('btn-primary');
		}
		else {
			$('#saveButton').removeClass('btn-primary');
			$('#saveButton').addClass('btn-secondary');
		}
	}

	function renderStatusButton(videoId, status) {
		var html = "";

		if (status === 'READY') {
			html = "<button type=\"button\" class=\"btn btn-secondary control-button\" onclick=\"javascript:markComplete('" + videoId + "');\" title=\"Mark this video as complete\"><i class=\"fa fa-check-square fa-sm\"></i> Done</button>";
		}
		else if (status === 'COMPLETE') {
			html = "<button type=\"button\" class=\"btn btn-secondary control-button\" onclick=\"javascript:markIncomplete('" + videoId + "');\" title=\"Mark this video as incomplete\"><i class=\"fa fa-square fa-sm\"></i> Not Done</button>";
		}
		else if (status === 'UPDATING') {
			html = "<button type=\"button\" class=\"btn btn-secondary control-button disabled\" title=\"Status updating\"><i class=\"fa fa-hourglass fa-sm\"></i> Updating</button>";
		}

		var statusButton = $('#statusButton');
		statusButton.html(html);
	}

	function renderBurnCaptionsButton(status) {
		//			if (status === 'COMPLETE')
		//			{
		//				$('#burnCaptionsButton').removeAttr('disabled');
		//			}
		//			else
		//			{
		//				$('#burnCaptionsButton').attr('disabled','disabled');
		//			}
		$('#burnCaptionsButton').removeAttr('disabled');
	}

	function markComplete(videoId) {
		setStatus(videoId, "COMPLETE", "Video caption editing complete", "READY");
	}

	function markIncomplete(videoId) {
		setStatus(videoId, "READY", "Video ready for editing", "COMPLETE");
	}

	function updateVideoName(videoId, newVideoName) {
		var api = siteConfig.api_base + siteConfig.api_videoname + '/' + videoId;
		console.log('[INFO] updating video name');
		let axiosConfig = {
			headers: {
				'Content-Type': 'application/json;charset=UTF-8',
				'X-Api-Key': localStorage.apiKey
			}
		};
		axios.post(api,
			{
				"name": newVideoName
			},
			axiosConfig).then(function (response) {
				console.log('[INFO] successfully updated video name');
				videoName = newVideoName;
				$('#videoNameEdit').val(videoName);
				$('#videoName').html(videoName);
				toastr.success('Saved video name');
			})
			.catch(function (error) {
				console.log('[ERROR] failed to update video name', error);
				$('#videoName').html(videoName);
				toastr.error('Failed to update video name');
			});
	}

	function updateVideoDescription(videoId, newVideoDescription) {
		var api = siteConfig.api_base + siteConfig.api_videodescription + '/' + videoId;
		console.log('[INFO] updating video description');
		let axiosConfig = {
			headers: {
				'Content-Type': 'application/json;charset=UTF-8',
				'X-Api-Key': localStorage.apiKey
			}
		};
		axios.post(api,
			{
				"description": newVideoDescription
			},
			axiosConfig).then(function (response) {
				console.log('[INFO] successfully updated video description');
				videoDescription = newVideoDescription;
				$('#videoDescriptionEdit').val(videoDescription);
				$('#videoDescription').html(videoDescription);
				toastr.success('Saved video description');
			})
			.catch(function (error) {
				console.log('[ERROR] failed to update video description', error);
				$('#videoDescriptionEdit').val(videoDescription);
				toastr.error('Failed to update video description');
			});
	}

	function setStatus(videoId, status, statusText, oldStatus) {
		renderStatusButton(videoId, "UPDATING");
		var api = siteConfig.api_base + siteConfig.api_videostatus + '/' + videoId;
		console.log('[INFO] updating video status');
		let axiosConfig = {
			headers: {
				'Content-Type': 'application/json;charset=UTF-8',
				'X-Api-Key': localStorage.apiKey
			}
		};
		axios.post(api,
			{
				"status": status,
				"statusText": statusText
			},
			axiosConfig).then(function (response) {
				console.log('[INFO] got response: %j', response);
				var newStatus = response.data.status;
				renderStatusButton(videoId, newStatus);
				renderBurnCaptionsButton(newStatus);
				console.log('[INFO] successfully updated status');
				toastr.success('Successfully updated video status');
			})
			.catch(function (error) {
				renderStatusButton(videoId, oldStatus);
				renderBurnCaptionsButton(oldStatus);
				console.log('[ERROR] failed to update status', error);
				toastr.error('Failed to update video status');
			});
	}

	$("#renameVideoModal").on('shown.bs.modal', function (event) {
		$("#videoNameEdit").focus();
	});

	$("#descriptionVideoModal").on('shown.bs.modal', function (event) {
		$("#videoDescriptionEdit").focus();
	});

	$('#videoNameSave').click(function (event) {

		var newVideoName = escapeHtml($('#videoNameEdit').val());
		console.log("newVideoName: ", newVideoName);

		if (newVideoName.length == 0) {
			$('#videoNameEdit').val(videoName);
			toastr.error('Video name must not be blank');
		}
		else {
			updateVideoName('{{video.videoId}}', newVideoName);
		}

	});

	$('#videoDescriptionSave').click(function (event) {

		var newVideoDesc = $('#videoDescriptionEdit').val();

		var isValid = validateInput(newVideoDesc);
		console.log('isValid: ', isValid);

		if (isValid && newVideoDesc.length != 0) {
			updateVideoDescription('{{video.videoId}}', newVideoDesc);
		}
		else {
			$('#videoDescriptionEdit').val(videoDescription);
			toastr.error('Video description must not be blank or should just contain letter, number, . ! ? _ and -');

		}
	});

</script>
{{/if}}